# Import the Required Libraries

In [285]:
# Basic libraries
import os
import pandas as pd
import numpy as np

# Visualization libraries
import matplotlib.pyplot as plt
#import seaborn as sns
#import folium
#import folium.plugins as plugins
#from wordcloud import WordCloud
#import plotly.express as px

## Read the Path where Files Located

In [286]:
DATA_PATH = ".\Course-Project\cdp-unlocking-climate-solutions"

list(os.listdir(DATA_PATH))

['Cities', 'Corporations', 'Supplementary Data']

# Section1: Cities

## Section1.1: Cities Responses

### Read the Required Files

In [160]:
#world_coordinates = pd.read_csv('./Course-Project/world_coordinates.csv')

In [308]:

full_ct_dataset_2020 = pd.read_csv(f"{DATA_PATH}/Cities/Cities Responses/2020_Full_Cities_Dataset.csv")
full_ct_dataset_2019 = pd.read_csv(f"{DATA_PATH}/Cities/Cities Responses/2019_Full_Cities_Dataset.csv")
full_ct_dataset_2018 = pd.read_csv(f"{DATA_PATH}/Cities/Cities Responses/2018_Full_Cities_Dataset.csv")

## Collect all Files in One Data_Frame

In [309]:
frames = [full_ct_dataset_2020,full_ct_dataset_2019,full_ct_dataset_2018]
df_cities_response = pd.concat(frames,ignore_index=True)
df_cities_response.head(5)

,Questionnaire,Year Reported to CDP,Account Number,Organization,Country,CDP Region,Parent Section,Section,Question Number,Question Name,Column Number,Column Name,Row Number,Row Name,Response Answer,Comments,File Name,Last update
0,Cities 2020,2020,68296,Hobsons Bay City Council,Australia,Southeast Asia and Oceania,NaN,Transport,10.6,How many buses has your city procured in the l...,2,Comment,5,Plug-in hybrid,Question not applicable,NaN,NaN,09/07/2020 09:45:36 AM
1,Cities 2020,2020,8242,City of Helsinki,Finland,Europe,City-wide Emissions,City-wide GHG Emissions Data,4.6a,The Global Covenant of Mayors requires committ...,1,Direct emissions (metric tonnes CO2e),6,Stationary energy > Fugitive emissions,NaN,NaN,NaN,09/07/2020 09:45:36 AM
2,Cities 2020,2020,73301,"City of Gretna, LA",United States of America,North America,Opportunities,Finance and Economic Opportunities,6.5,"List any mitigation, adaptation, water related...",5,Financing model identified,4,NaN,NaN,NaN,NaN,09/07/2020 09:45:36 AM
3,Cities 2020,2020,54488,Trondheim Municipality,Norway,Europe,NaN,Transport,10.6,How many buses has your city procured in the l...,1,Number of buses,6,Hydrogen,Question not applicable,NaN,NaN,09/07/2020 09:45:36 AM
4,Cities 2020,2020,54696,XIV Ayuntamiento de La Paz,Mexico,Latin America,City-wide Emissions,City-wide GHG Emissions Data,4.6a,The Global Covenant of Mayors requires committ...,6,If you have no emissions occurring outside the...,27,Generation of grid-supplied energy > CHP gener...,Question not applicable,NaN,NaN,09/07/2020 09:45:36 AM

In [310]:
df_cities_response.shape

(1542496, 18)

### Example for testing

In [397]:
# dictionary of lists 
data_dict = {'First':[100, 90, np.nan, np.nan], 
        'Second': [30, 45, 56, np.nan], 
        'Third':[np.nan, 40, 80, np.nan],
        'Forth': [30,40,50,np.nan]} 
  
# creating a dataframe from list 
df1 = pd.DataFrame(data_dict)
# df1.to_csv('Step1.csv',index=False)
# df1 = pd.read_csv('Step1.csv')
df1

   First  Second  Third  Forth
0  100.0    30.0    NaN   30.0
1   90.0    45.0   40.0   40.0
2    NaN    56.0   80.0   50.0
3    NaN     NaN    NaN    NaN

In [398]:
list_columns = ['First','Second','Third','Forth']
#df1.dropna(subset=list_columns,inplace=True, how='all')
df1.loc[[0,3],'Third'] = 999

df1

   First  Second  Third  Forth
0  100.0    30.0  999.0   30.0
1   90.0    45.0   40.0   40.0
2    NaN    56.0   80.0   50.0
3    NaN     NaN  999.0    NaN

In [313]:
#df1.drop(columns=['Forth'],inplace=True)
#df1[df1[list_columns].isna().all(1)]
df1

   First  Second  Third  Forth
0  100.0    30.0    NaN   30.0
1   90.0    45.0   40.0   40.0
2    NaN    56.0   80.0   50.0
3    NaN     NaN    NaN    NaN

In [314]:
def missing_ratio(df):
    DataFrame = df.isna().sum().rename('Num_0f_missing')

    # Rename the index to Feature
    DataFrame = DataFrame.reset_index().rename(columns={'index':'Feature'})

    Num_of_samples = df.shape[0]
    DataFrame['Percent_of_msising'] = DataFrame['Num_0f_missing'] / Num_of_samples

    # Select the features that have a missing values
    DataFrame = DataFrame[DataFrame['Num_0f_missing'] != 0]
    DataFrame = DataFrame.sort_values(by=['Percent_of_msising'],ascending=False)
    return DataFrame

In [471]:
def handle_missing(df,list_columns,handle_type,value):
       
    if handle_type == "bfill":
        # no inplace
        df[list_columns] = df[list_columns].fillna(method='bfill')
                                    
    elif handle_type == "ffill":
        df[list_columns] = df.loc[:,list_columns].fillna(method='ffill')
        
    elif handle_type == "mean":
        df[list_columns] = df[list_columns].fillna(df.mean()).round(2)
        
    elif handle_type == "dropna0":
        df[list_columns] = df[list_columns].dropna(axis=0, how='any')
    
    elif handle_type == "dropna1":
        df[list_columns] = df[list_columns].dropna(axis=1, how='any')
        
    else: 
        df[list_columns] = df.loc[:,list_columns].fillna(value)

In [353]:
handle_missing(df1,['Forth'],"dropcol",999)
#df1
list_columns=['Forth']
df1.drop(columns=list_columns)

   First  Second  Third
0  100.0    30.0    NaN
1   90.0    45.0   40.0
2    NaN    56.0   80.0
3    NaN     NaN    NaN

In [317]:
def high_missing_columns(stutus):
    return stutus[stutus['Percent_of_msising'] > 0.7]['Feature'].values.tolist()

In [318]:
stutus_cities_response = missing_ratio(df_cities_response)
stutus_cities_response

            Feature  Num_0f_missing  Percent_of_msising
16        File Name         1537241            0.996593
15         Comments         1497767            0.971002
13         Row Name          925226            0.599824
14  Response Answer          401188            0.260090
6    Parent Section          274302            0.177830
11      Column Name           74091            0.048033

In [319]:
#Drop the columns that have miaaing ratio more than 70%
df_cities_response = df_cities_response.drop(high_missing_columns(stutus_cities_response),1)
missing_ratio(df_cities_response)

            Feature  Num_0f_missing  Percent_of_msising
13         Row Name          925226            0.599824
14  Response Answer          401188            0.260090
6    Parent Section          274302            0.177830
11      Column Name           74091            0.048033

In [320]:
fill_with_missing = ['Row Name','Response Answer','Parent Section','Column Name']
handle_missing(df_cities_response,fill_with_missing,"","Missing")
df_cities_response.head(5)

,Questionnaire,Year Reported to CDP,Account Number,Organization,Country,CDP Region,Parent Section,Section,Question Number,Question Name,Column Number,Column Name,Row Number,Row Name,Response Answer,Last update
0,Cities 2020,2020,68296,Hobsons Bay City Council,Australia,Southeast Asia and Oceania,Missing,Transport,10.6,How many buses has your city procured in the l...,2,Comment,5,Plug-in hybrid,Question not applicable,09/07/2020 09:45:36 AM
1,Cities 2020,2020,8242,City of Helsinki,Finland,Europe,City-wide Emissions,City-wide GHG Emissions Data,4.6a,The Global Covenant of Mayors requires committ...,1,Direct emissions (metric tonnes CO2e),6,Stationary energy > Fugitive emissions,Missing,09/07/2020 09:45:36 AM
2,Cities 2020,2020,73301,"City of Gretna, LA",United States of America,North America,Opportunities,Finance and Economic Opportunities,6.5,"List any mitigation, adaptation, water related...",5,Financing model identified,4,Missing,Missing,09/07/2020 09:45:36 AM
3,Cities 2020,2020,54488,Trondheim Municipality,Norway,Europe,Missing,Transport,10.6,How many buses has your city procured in the l...,1,Number of buses,6,Hydrogen,Question not applicable,09/07/2020 09:45:36 AM
4,Cities 2020,2020,54696,XIV Ayuntamiento de La Paz,Mexico,Latin America,City-wide Emissions,City-wide GHG Emissions Data,4.6a,The Global Covenant of Mayors requires committ...,6,If you have no emissions occurring outside the...,27,Generation of grid-supplied energy > CHP gener...,Question not applicable,09/07/2020 09:45:36 AM

In [321]:
#Making sure that there is no missing values anymore
missing_ratio(df_cities_response)
#DONE

Empty DataFrame
Columns: [Feature, Num_0f_missing, Percent_of_msising]
Index: []

## Section1.2: Cities Disclosing

### Read the required files

In [322]:
full_ct_Disclosing_2020 = pd.read_csv(f"{DATA_PATH}/Cities/Cities Disclosing/2020_Cities_Disclosing_to_CDP.csv")
full_ct_Disclosing_2019 = pd.read_csv(f"{DATA_PATH}/Cities/Cities Disclosing/2019_Cities_Disclosing_to_CDP.csv")
full_ct_Disclosing_2018 = pd.read_csv(f"{DATA_PATH}/Cities/Cities Disclosing/2018_Cities_Disclosing_to_CDP.csv")

### Check if the merging is possible

In [323]:
Disc_list_2020 = full_ct_Disclosing_2020.columns.values.tolist()
Disc_list_2019 = full_ct_Disclosing_2019.columns.values.tolist()
Disc_list_2018 = full_ct_Disclosing_2018.columns.values.tolist()
Disc_df = {'2020':Disc_list_2020, '2019':Disc_list_2019,'2018':Disc_list_2018}
Disc_DataFrame = pd.DataFrame(Disc_df)
Disc_DataFrame
#Since all of the files have the same columns, so the merging is possible

                    2020                  2019                  2018
0   Year Reported to CDP  Year Reported to CDP  Year Reported to CDP
1         Account Number        Account Number        Account Number
2           Organization          Organization          Organization
3                   City                  City                  City
4                Country               Country               Country
5             CDP Region            CDP Region            CDP Region
6    Reporting Authority   Reporting Authority   Reporting Authority
7                 Access                Access                Access
8   First Time Discloser  First Time Discloser  First Time Discloser
9             Population            Population            Population
10       Population Year       Population Year       Population Year
11         City Location         City Location         City Location
12           Last update           Last update           Last update

### Collect all Files in One Data_Frame

In [324]:
frames_Disclosing = [full_ct_Disclosing_2020,full_ct_Disclosing_2019,full_ct_Disclosing_2018]
df_cities_Disclosing = pd.concat(frames_Disclosing,ignore_index=True)
df_cities_Disclosing.head(3)

,Year Reported to CDP,Account Number,Organization,City,Country,CDP Region,Reporting Authority,Access,First Time Discloser,Population,Population Year,City Location,Last update
0,2020,49335,Metropolitan Government of Nashville and David...,Nashville,United States of America,North America,"CDP Cities,ICLEI - Local Governments for Susta...",public,No,692587.0,2018,POINT (-86.7816 36.1627),2020-09-07T09:45:19.793
1,2020,60278,Prefeitura de Fernandópolis,Fernandópolis,Brazil,Latin America,"CDP Cities,ICLEI - Local Governments for Susta...",public,No,68823.0,2018,POINT (-50.2475 -20.2858),2020-09-07T09:45:19.793
2,2020,57509,Prefeitura Niterói,Niterói,Brazil,Latin America,"CDP Cities,ICLEI - Local Governments for Susta...",public,No,513584.0,2019,POINT (-43.1184 -22.8928),2020-09-07T09:45:19.793

In [325]:
df_cities_Disclosing.shape

(2068, 13)

In [326]:
missing_ratio(df_cities_Disclosing)

          Feature  Num_0f_missing  Percent_of_msising
11  City Location             438            0.211799
3            City             352            0.170213
9      Population             284            0.137331

In [330]:
#Check the number of rows where all of the three features have missing values
cols = ['City','Population','City Location']
three_col = df_cities_Disclosing[df_cities_Disclosing[cols].isna().all(1)]
three_col.head(3)

,Year Reported to CDP,Account Number,Organization,City,Country,CDP Region,Reporting Authority,Access,First Time Discloser,Population,Population Year,City Location,Last update
27,2020,845309,Puente Piedra,NaN,Peru,Latin America,"CDP Cities,ICLEI - Local Governments for Susta...",public,Yes,NaN,0,NaN,2020-09-07T09:45:19.793
566,2019,840309,Markaryds Kommun,NaN,Sweden,Europe,"CDP Cities,ICLEI - Local Governments for Susta...",public,Yes,NaN,0,NaN,2020-06-25T04:52:51.327
568,2019,840914,Prefeitura de Cáceres,NaN,Brazil,Latin America,CDP Cities,public,Yes,NaN,0,NaN,2020-06-25T04:52:51.327

In [331]:
three_col.shape

(64, 13)

In [332]:
#Since there are 64 rows have missing values in the 3 columns ['City','Population','City Location']
#which are the most important features in the data frame, so there is no need to keep saving those rows anymore
df_cities_Disclosing.dropna(subset=cols,inplace=True, how='all')
missing_ratio(df_cities_Disclosing)

          Feature  Num_0f_missing  Percent_of_msising
11  City Location             374            0.186627
3            City             288            0.143713
9      Population             220            0.109780

In [334]:
#Since there are almost 374 rows where City or City Location values are missing, we can get benefit of
#the number of population for those rows.
#So, the best solution is to fill them with constant.
Fill_with_constant_set1 = ['City','City Location']
handle_missing(df_cities_Disclosing,Fill_with_constant_set1,"","Missing")
missing_ratio(df_cities_Disclosing)

      Feature  Num_0f_missing  Percent_of_msising
9  Population             220             0.10978

In [347]:
#Since there are 220 cells where population values are missing,
#there still the values of city and city location exist which could be benefit somehow.
#So, the best solution is to fill with constant ZERO
handle_missing(df_cities_Disclosing,['Population'],"",0)
missing_ratio(df_cities_Disclosing)

Empty DataFrame
Columns: [Feature, Num_0f_missing, Percent_of_msising]
Index: []

In [338]:
#Since there are no missing values anymore, WE DONE
#THERE IS NO MISSING VALUES IN THE CITIES FOLDER ANYMORE
#FOLDER CITIES {DONE}

In [339]:
df_cities_Disclosing[df_cities_Disclosing['Population'] == 0].head(3)

,Year Reported to CDP,Account Number,Organization,City,Country,CDP Region,Reporting Authority,Access,First Time Discloser,Population,Population Year,City Location,Last update
571,2019,54649,Prefeitura de Tatuí,Tatuí,Brazil,Latin America,CDP Cities,non public,No,0.0,0,POINT (-47.8466 -23.3492),2020-06-25T04:52:51.327
582,2019,31184,Prefeitura de São Paulo,São Paulo,Brazil,Latin America,"C40,CDP Cities,ICLEI - Local Governments for S...",public,No,0.0,0,POINT (-46.7382 -23.5595),2020-06-25T04:52:51.327
586,2019,54579,Sekhukhune District Municipality,Sekhukhune District Municipality,South Africa,Africa,CDP Cities,public,No,0.0,0,POINT (29.974 -24.8335),2020-06-25T04:52:51.327

# Section2: Corporations_Disclosing

## Section2.1: Climate Change

### Read the Required Files

In [383]:
full_corporations_dataset_2020 = pd.read_csv(f"{DATA_PATH}/Corporations/Corporations Disclosing/Climate Change/2020_Corporates_Disclosing_to_CDP_Climate_Change.csv")
full_corporations_dataset_2019 = pd.read_csv(f"{DATA_PATH}/Corporations/Corporations Disclosing/Climate Change/2019_Corporates_Disclosing_to_CDP_Climate_Change.csv")
full_corporations_dataset_2018 = pd.read_csv(f"{DATA_PATH}/Corporations/Corporations Disclosing/Climate Change/2018_Corporates_Disclosing_to_CDP_Climate_Change.csv")

### Check if the merging is possible

In [384]:
Corp_list_2020 = full_corporations_dataset_2020.columns.values.tolist()
Corp_list_2019 = full_corporations_dataset_2019.columns.values.tolist()
Corp_list_2018 = full_corporations_dataset_2018.columns.values.tolist()
Corp_df = {'2020':Corp_list_2020, '2019':Corp_list_2019,'2018':Corp_list_2018}
Corp_DataFrame = pd.DataFrame(Corp_df)
Corp_DataFrame
#Since all of the files have the same columns, so the merging is possible

,2020,2019,2018
0,account_number,account_number,account_number
1,organization,organization,organization
2,survey_year,survey_year,survey_year
3,country,country,country
4,region,region,region
5,invitation_status,invitation_status,invitation_status
6,public,public,public
7,samples,samples,samples
8,response_received_date,response_received_date,response_received_date
9,minimum_tier,minimum_tier,minimum_tier
10,selected_tier,selected_tier,selected_tier
11,questionnaire,questionnaire,questionnaire
12,theme,theme,theme
13,authority_types,authority_types,authority_types
14,activities,activities,activities
15,sectors,sectors,sectors
16,industries,industries,industries
17,primary_activity,primary_activity,primary_activity
18,primary_sector,primary_sector,primary_sector
19,primary_industry,primary_industry,primary_industry
20,primary_questionnaire_sector,primary_questionnaire_sector,primary_questionnaire_sector
21,primary_ticker,primary_ticker,primary_ticker
22,tickers,tickers,tickers

### Collect all Files in One Data_Frame

In [385]:
df_Disclosing_climateChange = [full_corporations_dataset_2020,full_corporations_dataset_2019,full_corporations_dataset_2018]
Corp_Disclosing_climateChange = pd.concat(df_Disclosing_climateChange,ignore_index=True)
Corp_Disclosing_climateChange.head(3)

,account_number,organization,survey_year,country,region,invitation_status,public,samples,response_received_date,minimum_tier,...,authority_types,activities,sectors,industries,primary_activity,primary_sector,primary_industry,primary_questionnaire_sector,primary_ticker,tickers
0,44675,Gibson Energy Inc,2020,Canada,NaN,Submitted,public,"Canada, CCGR1800",2020-08-25T23:01:29Z,Climate Change - Minimum,...,Investor,"Energy services & equipment, Oil & gas market...","Industrial support services, Oil & gas proces...","Fossil Fuels, Services",Oil & gas pipelines & storage,Oil & gas storage & transportation,Fossil Fuels,Oil & gas,GEI CN,GEI CN
1,13422,Norbord Inc.,2020,Canada,NaN,Submitted,public,"Canada, Environmental",2020-08-26T18:39:22Z,Climate Change - Minimum,...,Investor,Finished wood products,Wood & rubber products,Manufacturing,Finished wood products,Wood & rubber products,Manufacturing,Paper & forestry,OSB CN,OSB CN
2,56270,SMARTLINK LLC,2020,United States of America,NaN,Submitted,public,NaN,2020-08-20T19:48:39Z,Climate Change - Full,...,Supply Chain,Telecommunications services,"Media, telecommunications & data center services",Services,Telecommunications services,"Media, telecommunications & data center services",Services,General,NaN,NaN

In [386]:
Corp_Disclosing_climateChange.shape

(2595, 23)

In [387]:
#Check the missing ratio
missing_ratio(Corp_Disclosing_climateChange)

                         Feature  Num_0f_missing  Percent_of_msising
4                         region            2561            0.986898
7                        samples             987            0.380347
21                primary_ticker             836            0.322158
22                       tickers             832            0.320617
9                   minimum_tier             348            0.134104
20  primary_questionnaire_sector              23            0.008863
17              primary_activity              10            0.003854
18                primary_sector              10            0.003854
19              primary_industry              10            0.003854

### Handle Missing Data

In [388]:
#handle missing values
#Since the missing ratio of column 'region' is alomst 98% it have to be deleted
Corp_Disclosing_climateChange = Corp_Disclosing_climateChange.drop(columns='region')
missing_ratio(Corp_Disclosing_climateChange)
#columns=list_columns

                         Feature  Num_0f_missing  Percent_of_msising
6                        samples             987            0.380347
20                primary_ticker             836            0.322158
21                       tickers             832            0.320617
8                   minimum_tier             348            0.134104
19  primary_questionnaire_sector              23            0.008863
16              primary_activity              10            0.003854
17                primary_sector              10            0.003854
18              primary_industry              10            0.003854

In [389]:
Corp_Disclosing_climateChange.columns.values

array(['account_number', 'organization', 'survey_year', 'country',
       'invitation_status', 'public', 'samples', 'response_received_date',
       'minimum_tier', 'selected_tier', 'questionnaire', 'theme',
       'authority_types', 'activities', 'sectors', 'industries',
       'primary_activity', 'primary_sector', 'primary_industry',
       'primary_questionnaire_sector', 'primary_ticker', 'tickers'],
      dtype=object)

In [390]:
#Check the number of rows where all of the three features have missing values
cols_related = ['primary_activity', 'primary_sector', 'primary_industry']
Corp_Disclosing_climateChange[Corp_Disclosing_climateChange[cols_related].isna().all(1)].head(3)

,account_number,organization,survey_year,country,invitation_status,public,samples,response_received_date,minimum_tier,selected_tier,...,authority_types,activities,sectors,industries,primary_activity,primary_sector,primary_industry,primary_questionnaire_sector,primary_ticker,tickers
347,29979,Fruit of the Loom,2020,United States of America,Submitted,public,NaN,2020-08-27T03:17:16Z,Climate Change - Full,Climate Change - Full,...,Supply Chain,Textiles,Textiles & fabric goods,Apparel,NaN,NaN,NaN,NaN,NaN,NaN
399,828264,BENNETT TOOL & DIE LLC,2020,United States of America,Submitted,public,NaN,2020-08-25T22:04:50Z,Climate Change - Minimum,Climate Change - Minimum,...,Supply Chain,Fabricated metal components,Metal products manufacturing,Manufacturing,NaN,NaN,NaN,General,NaN,NaN
1527,19858,UnitedHealth Group Inc,2019,United States of America,Submitted,public,"Benchmark, CCGR1800, Continuity Climate Chang...",2019-07-30T15:23:53Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain",Health care services,Other services,Services,NaN,NaN,NaN,General,UNH US,UNH US

In [458]:
#Since the three columns ['primary_activity', 'primary_sector', 'primary_industry']
#are related to each other,their values aren't predictable,
#and the ratio of missing= 0.003, the best solution is to delete those rows
Corp_Disclosing_climateChange.dropna(subset=cols_related,inplace=True, how='all')
missing_ratio(Corp_Disclosing_climateChange)

           Feature  Num_0f_missing  Percent_of_msising
6          samples             985            0.381044
20  primary_ticker             834            0.322631
21         tickers             830            0.321083
8     minimum_tier             348            0.134623

In [239]:
#Corp_Disclosing_climateChange[Corp_Disclosing_climateChange[cols_related].isna().all(1)].head(3)
#Corp_Disclosing_climateChange[Corp_Disclosing_climateChange['primary_questionnaire_sector'] == "General"].unique().loc[:,['primary_industry','primary_questionnaire_sector']]
#Corp_Disclosing_climateChange.groupby(['primary_industry','primary_questionnaire_sector']).size().reset_index(name='Count')

In [456]:
#Trying to predict the value of 'primary_questionnaire_sector' by checking its relation with
# the two columns'primary_sector','primary_industry'
cols_related = ['primary_sector','primary_industry','primary_questionnaire_sector']
Corp_Disclosing_climateChange[Corp_Disclosing_climateChange['primary_questionnaire_sector'].isna()]\
.loc[:,cols_related]

Empty DataFrame
Columns: [primary_sector, primary_industry, primary_questionnaire_sector]
Index: []

### The main function for prediction

In [394]:
Corp_Disclosing_climateChange[Corp_Disclosing_climateChange['primary_industry'] == "Transportation services"]\
.groupby(['primary_sector','primary_industry','primary_questionnaire_sector']).size().reset_index(name='Count')

,primary_sector,primary_industry,primary_questionnaire_sector,Count
0,Air transport,Transportation services,Transport services,19
1,Intermodal transport & logistics,Transportation services,General,23
2,Intermodal transport & logistics,Transportation services,Transport services,13
3,Marine transport,Transportation services,Transport services,7
4,Rail transport,Transportation services,Transport services,21
5,Road transport,Transportation services,Transport services,11

In [423]:
Corp_Disclosing_climateChange[Corp_Disclosing_climateChange['primary_industry'] == "Materials"]\
.groupby(['primary_sector','primary_industry','primary_questionnaire_sector']).size().reset_index(name='Count')
#Chemicals	Materials

,primary_sector,primary_industry,primary_questionnaire_sector,Count
0,Chemicals,Materials,Chemicals,103
1,Chemicals,Materials,General,37
2,Chemicals,Materials,Paper & forestry,1
3,"Metal smelting, refining & forming",Materials,General,2
4,"Metal smelting, refining & forming",Materials,Metals & mining,10
5,"Metal smelting, refining & forming",Materials,Steel,10
6,Metallic mineral mining,Materials,Metals & mining,31
7,Other materials,Materials,General,17
8,Other mineral mining,Materials,Metals & mining,2
9,Wood & paper materials,Materials,Paper & forestry,13

In [421]:
Corp_Disclosing_climateChange[Corp_Disclosing_climateChange['primary_industry'] == "Manufacturing"]\
.groupby(['primary_sector','primary_industry','primary_questionnaire_sector']).size().reset_index(name='Count')

,primary_sector,primary_industry,primary_questionnaire_sector,Count
0,Electrical & electronic equipment,Manufacturing,Capital goods,18
1,Electrical & electronic equipment,Manufacturing,General,241
2,Leisure & home manufacturing,Manufacturing,General,80
3,Light manufacturing,Manufacturing,General,30
4,Metal products manufacturing,Manufacturing,General,107
5,Paper products & packaging,Manufacturing,Paper & forestry,39
6,Plastic product manufacturing,Manufacturing,Chemicals,1
7,Plastic product manufacturing,Manufacturing,General,62
8,Powered machinery,Manufacturing,Capital goods,4
9,Powered machinery,Manufacturing,General,29
10,Powered machinery,Manufacturing,Transport OEMS - EPM,15
11,Renewable energy equipment,Manufacturing,Capital goods,1
12,Renewable energy equipment,Manufacturing,General,2
13,Transportation equipment,Manufacturing,Transport OEMS,51
14,Transportation equipment,Manufacturing,Transport OEMS - EPM,1
15,Wood & rubber products,Manufacturing,Agricultural commodities,1
16,Wood & rubber products,Manufacturing,General,4
17,Wood & rubber products,Manufacturing,Paper & forestry,4

In [424]:
Corp_Disclosing_climateChange[Corp_Disclosing_climateChange['primary_industry'] == "Services"]\
.groupby(['primary_sector','primary_industry','primary_questionnaire_sector']).size().reset_index(name='Count')

,primary_sector,primary_industry,primary_questionnaire_sector,Count
0,Commercial & consumer services,Services,General,46
1,Financial services,Services,Financial services,57
2,Financial services,Services,General,164
3,Financial services,Services,Real estate,18
4,IT & software development,Services,General,80
5,Industrial support services,Services,General,23
6,"Media, telecommunications & data center services",Services,General,67
7,Other services,Services,General,34
8,Print & publishing services,Services,General,18
9,Specialized professional services,Services,General,142
10,Web & marketing services,Services,General,31

In [435]:
Corp_Disclosing_climateChange[Corp_Disclosing_climateChange['primary_industry'] == "Infrastructure"]\
.groupby(['primary_sector','primary_industry','primary_questionnaire_sector']).size().reset_index(name='Count')

,primary_sector,primary_industry,primary_questionnaire_sector,Count
0,Construction,Infrastructure,General,50
1,Energy utility networks,Infrastructure,Electric utilities,26
2,Energy utility networks,Infrastructure,General,9
3,Energy utility networks,Infrastructure,Oil & gas,7
4,Land & property ownership & development,Infrastructure,General,7
5,Land & property ownership & development,Infrastructure,Real estate,1
6,Non-energy utilities,Infrastructure,General,19

In [453]:
Corp_Disclosing_climateChange[Corp_Disclosing_climateChange['primary_industry'] == "Power generation"]\
.groupby(['primary_sector','primary_industry','primary_questionnaire_sector']).size().reset_index(name='Count')

,primary_sector,primary_industry,primary_questionnaire_sector,Count
0,Nuclear power generation,Power generation,Electric utilities,2
1,Renewable power generation,Power generation,Electric utilities,6
2,Thermal power generation,Power generation,Electric utilities,54

In [395]:
#We conclude that:
#         [Column1]     related_with  [Column2]  and   [Column3]
#1)Rail transport ---> Transportation services ---> Transport services
a = Corp_Disclosing_climateChange[(Corp_Disclosing_climateChange['primary_industry']=='Transportation services')\
                             & (Corp_Disclosing_climateChange['primary_sector']=='Rail transport')\
                             & (Corp_Disclosing_climateChange['primary_questionnaire_sector'].isna())].loc[:,cols_related]
a

      primary_sector         primary_industry primary_questionnaire_sector
1054  Rail transport  Transportation services                          NaN

In [402]:
#Get a list of rows that satisfy the first condition
row_list = a.index[a['primary_questionnaire_sector'].isna()].tolist()

#Replace the Nan values with the new variable 'Transport services'
Corp_Disclosing_climateChange.loc[row_list,'primary_questionnaire_sector'] = 'Transport services'

In [403]:
#Rail transport {DONE}

In [405]:
#         [Column1]     related_with  [Column2]  and   [Column3]
#2)Paper products & packaging ---> Manufacturing ---> Paper & forestry
b = Corp_Disclosing_climateChange[(Corp_Disclosing_climateChange['primary_industry']=='Manufacturing')\
                             & (Corp_Disclosing_climateChange['primary_sector']=='Paper products & packaging')\
                             & (Corp_Disclosing_climateChange['primary_questionnaire_sector'].isna())].loc[:,cols_related]
b

                  primary_sector primary_industry primary_questionnaire_sector
1105  Paper products & packaging    Manufacturing                          NaN
1403  Paper products & packaging    Manufacturing                          NaN
1436  Paper products & packaging    Manufacturing                          NaN

In [407]:
#Get a list of rows that satisfy the second condition
row_list = b.index[b['primary_questionnaire_sector'].isna()].tolist()

#Replace the Nan values with the new variable 'Paper & forestry'
Corp_Disclosing_climateChange.loc[row_list,'primary_questionnaire_sector'] = 'Paper & forestry'
#After running this command the values of missing for 'primary_questionnaire_sector'
#will decreased by 3

In [408]:
missing_ratio(Corp_Disclosing_climateChange)

                         Feature  Num_0f_missing  Percent_of_msising
6                        samples             985            0.381044
20                primary_ticker             834            0.322631
21                       tickers             830            0.321083
8                   minimum_tier             348            0.134623
19  primary_questionnaire_sector              15            0.005803

## I am HERE

In [411]:
#Intermodal transport & logistics	Transportation services	General
c = Corp_Disclosing_climateChange[(Corp_Disclosing_climateChange['primary_industry']=='Transportation services')\
                             & (Corp_Disclosing_climateChange['primary_sector']=='Intermodal transport & logistics')\
                             & (Corp_Disclosing_climateChange['primary_questionnaire_sector'].isna())].loc[:,cols_related]
c

,primary_sector,primary_industry,primary_questionnaire_sector
1150,Intermodal transport & logistics,Transportation services,NaN

In [414]:
#3)Get a list of rows that satisfy the third condition
row_list = c.index[c['primary_questionnaire_sector'].isna()].tolist()

#Replace the Nan values with the new variable 'General'
Corp_Disclosing_climateChange.loc[row_list,'primary_questionnaire_sector'] = 'General'

In [417]:
#4)Wood & paper materials ---> Materials ---> Paper & forestry
d = Corp_Disclosing_climateChange[(Corp_Disclosing_climateChange['primary_industry']=='Materials')\
                             & (Corp_Disclosing_climateChange['primary_sector']=='Wood & paper materials')\
                             & (Corp_Disclosing_climateChange['primary_questionnaire_sector'].isna())].loc[:,cols_related]
d

              primary_sector primary_industry primary_questionnaire_sector
1243  Wood & paper materials        Materials                          NaN
1561  Wood & paper materials        Materials                          NaN

In [419]:
#Get a list of rows that satisfy the Forth condition
row_list = d.index[d['primary_questionnaire_sector'].isna()].tolist()

#Replace the Nan values with the new variable 'Paper & forestry'
Corp_Disclosing_climateChange.loc[row_list,'primary_questionnaire_sector'] = 'Paper & forestry'

In [426]:
#5)Powered machinery ---> Manufacturing ---> General
e = Corp_Disclosing_climateChange[(Corp_Disclosing_climateChange['primary_industry']=='Manufacturing')\
                             & (Corp_Disclosing_climateChange['primary_sector']=='Powered machinery')\
                             & (Corp_Disclosing_climateChange['primary_questionnaire_sector'].isna())].loc[:,cols_related]
e

         primary_sector primary_industry primary_questionnaire_sector
1331  Powered machinery    Manufacturing                          NaN

In [427]:
#Get a list of rows that satisfy the fifth condition
row_list = e.index[e['primary_questionnaire_sector'].isna()].tolist()

#Replace the Nan values with the new variable 'General'
Corp_Disclosing_climateChange.loc[row_list,'primary_questionnaire_sector'] = 'General'

In [429]:
#6)Transportation equipment ---> Manufacturing ---> Transport OEMS
f = Corp_Disclosing_climateChange[(Corp_Disclosing_climateChange['primary_industry']=='Manufacturing')\
                             & (Corp_Disclosing_climateChange['primary_sector']=='Transportation equipment')\
                             & (Corp_Disclosing_climateChange['primary_questionnaire_sector'].isna())].loc[:,cols_related]
f

                primary_sector primary_industry primary_questionnaire_sector
1498  Transportation equipment    Manufacturing                          NaN
1517  Transportation equipment    Manufacturing                          NaN
1537  Transportation equipment    Manufacturing                          NaN
1807  Transportation equipment    Manufacturing                          NaN

In [440]:
#Get a list of rows that satisfy the sixth condition
row_list = f.index[f['primary_questionnaire_sector'].isna()].tolist()

#Replace the Nan values with the new variable 'Transport OEMS'
Corp_Disclosing_climateChange.loc[row_list,'primary_questionnaire_sector'] = 'Transport OEMS'

In [436]:
#7)Energy utility networks ---> Infrastructure ---> Electric utilities
g = Corp_Disclosing_climateChange[(Corp_Disclosing_climateChange['primary_industry']=='Infrastructure')\
                             & (Corp_Disclosing_climateChange['primary_sector']=='Energy utility networks')\
                             & (Corp_Disclosing_climateChange['primary_questionnaire_sector'].isna())].loc[:,cols_related]
g

               primary_sector primary_industry primary_questionnaire_sector
1526  Energy utility networks   Infrastructure                          NaN
2139  Energy utility networks   Infrastructure                          NaN

In [441]:
#Get a list of rows that satisfy the seventh condition
row_list = g.index[g['primary_questionnaire_sector'].isna()].tolist()

#Replace the Nan values with the new variable 'Electric utilities'
Corp_Disclosing_climateChange.loc[row_list,'primary_questionnaire_sector'] = 'Electric utilities'

In [444]:
#8)Chemicals ---> Materials ---> Chemicals
h = Corp_Disclosing_climateChange[(Corp_Disclosing_climateChange['primary_industry']=='Materials')\
                             & (Corp_Disclosing_climateChange['primary_sector']=='Chemicals')\
                             & (Corp_Disclosing_climateChange['primary_questionnaire_sector'].isna())].loc[:,cols_related]
h

     primary_sector primary_industry primary_questionnaire_sector
1618      Chemicals        Materials                          NaN
2115      Chemicals        Materials                          NaN
2505      Chemicals        Materials                          NaN

In [445]:
#Get a list of rows that satisfy the eighth condition
row_list = h.index[h['primary_questionnaire_sector'].isna()].tolist()

#Replace the Nan values with the new variable 'Chemicals'
Corp_Disclosing_climateChange.loc[row_list,'primary_questionnaire_sector'] = 'Chemicals'

In [449]:
#9)Web & marketing services ---> Services ---> General
i = Corp_Disclosing_climateChange[(Corp_Disclosing_climateChange['primary_industry']=='Services')\
                             & (Corp_Disclosing_climateChange['primary_sector']=='Web & marketing services')\
                             & (Corp_Disclosing_climateChange['primary_questionnaire_sector'].isna())].loc[:,cols_related]
i

                primary_sector primary_industry primary_questionnaire_sector
1787  Web & marketing services         Services                          NaN

In [450]:
#Get a list of rows that satisfy the ninth condition
row_list = i.index[i['primary_questionnaire_sector'].isna()].tolist()

#Replace the Nan values with the new variable 'General'
Corp_Disclosing_climateChange.loc[row_list,'primary_questionnaire_sector'] = 'General'

In [454]:
#9)Thermal power generation ---> Power generation ---> Electric utilities
j = Corp_Disclosing_climateChange[(Corp_Disclosing_climateChange['primary_industry']=='Power generation')\
                             & (Corp_Disclosing_climateChange['primary_sector']=='Thermal power generation')\
                             & (Corp_Disclosing_climateChange['primary_questionnaire_sector'].isna())].loc[:,cols_related]
j

                primary_sector  primary_industry primary_questionnaire_sector
2220  Thermal power generation  Power generation                          NaN

In [455]:
#Get a list of rows that satisfy the ninth condition
row_list = j.index[j['primary_questionnaire_sector'].isna()].tolist()

#Replace the Nan values with the new variable 'Electric utilities'
Corp_Disclosing_climateChange.loc[row_list,'primary_questionnaire_sector'] = 'Electric utilities'

#### Column 'primary_questionnaire_sector' {DONE}

In [473]:
missing_ratio(Corp_Disclosing_climateChange)

           Feature  Num_0f_missing  Percent_of_msising
6          samples             985            0.381044
20  primary_ticker             834            0.322631
21         tickers             830            0.321083

In [461]:
#Corp_Disclosing_climateChange[Corp_Disclosing_climateChange['minimum_tier'].isna()].head(5)
Corp_Disclosing_climateChange.head(5)

,account_number,organization,survey_year,country,invitation_status,public,samples,response_received_date,minimum_tier,selected_tier,...,authority_types,activities,sectors,industries,primary_activity,primary_sector,primary_industry,primary_questionnaire_sector,primary_ticker,tickers
0,44675,Gibson Energy Inc,2020,Canada,Submitted,public,"Canada, CCGR1800",2020-08-25T23:01:29Z,Climate Change - Minimum,Climate Change - Full,...,Investor,"Energy services & equipment, Oil & gas market...","Industrial support services, Oil & gas proces...","Fossil Fuels, Services",Oil & gas pipelines & storage,Oil & gas storage & transportation,Fossil Fuels,Oil & gas,GEI CN,GEI CN
1,13422,Norbord Inc.,2020,Canada,Submitted,public,"Canada, Environmental",2020-08-26T18:39:22Z,Climate Change - Minimum,Climate Change - Full,...,Investor,Finished wood products,Wood & rubber products,Manufacturing,Finished wood products,Wood & rubber products,Manufacturing,Paper & forestry,OSB CN,OSB CN
2,56270,SMARTLINK LLC,2020,United States of America,Submitted,public,NaN,2020-08-20T19:48:39Z,Climate Change - Full,Climate Change - Minimum,...,Supply Chain,Telecommunications services,"Media, telecommunications & data center services",Services,Telecommunications services,"Media, telecommunications & data center services",Services,General,NaN,NaN
3,836121,KOSTER KEUNEN,2020,United States of America,Submitted,public,NaN,2020-09-01T16:11:55Z,Climate Change - Full,Climate Change - Minimum,...,Supply Chain,Personal care & household products,Chemicals,Materials,Personal care & household products,Chemicals,Materials,General,NaN,NaN
4,63625,Tosoh SMD,2020,United States of America,Submitted,public,NaN,2020-08-21T17:10:45Z,Climate Change - Full,Climate Change - Minimum,...,Supply Chain,Specialty chemicals,Chemicals,Materials,Specialty chemicals,Chemicals,Materials,Chemicals,NaN,NaN

In [463]:
#Display the most frequent values
Corp_Disclosing_climateChange['minimum_tier'].value_counts()[:2].index.tolist()

['Climate Change - Full', 'Climate Change - Minimum']

In [470]:
cols_related = ['minimum_tier','selected_tier']
Corp_Disclosing_climateChange[(Corp_Disclosing_climateChange['minimum_tier'].notna())\
                             & (Corp_Disclosing_climateChange['selected_tier'].notna())\
                             ].loc[0:30,cols_related]

                minimum_tier             selected_tier
0   Climate Change - Minimum     Climate Change - Full
1   Climate Change - Minimum     Climate Change - Full
2      Climate Change - Full  Climate Change - Minimum
3      Climate Change - Full  Climate Change - Minimum
4      Climate Change - Full  Climate Change - Minimum
5      Climate Change - Full  Climate Change - Minimum
6      Climate Change - Full  Climate Change - Minimum
7      Climate Change - Full  Climate Change - Minimum
8      Climate Change - Full  Climate Change - Minimum
9   Climate Change - Minimum  Climate Change - Minimum
10  Climate Change - Minimum  Climate Change - Minimum
11  Climate Change - Minimum  Climate Change - Minimum
12  Climate Change - Minimum  Climate Change - Minimum
13  Climate Change - Minimum  Climate Change - Minimum
14  Climate Change - Minimum  Climate Change - Minimum
15  Climate Change - Minimum  Climate Change - Minimum
16  Climate Change - Minimum  Climate Change - Minimum
17  Climate Change - Minimum  Climate Change - Minimum
18  Climate Change - Minimum  Climate Change - Minimum
19  Climate Change - Minimum  Climate Change - Minimum
20  Climate Change - Minimum  Climate Change - Minimum
21  Climate Change - Minimum  Climate Change - Minimum
22  Climate Change - Minimum  Climate Change - Minimum
23  Climate Change - Minimum  Climate Change - Minimum
24  Climate Change - Minimum  Climate Change - Minimum
25  Climate Change - Minimum  Climate Change - Minimum
26  Climate Change - Minimum  Climate Change - Minimum
27  Climate Change - Minimum  Climate Change - Minimum
28  Climate Change - Minimum  Climate Change - Minimum
29  Climate Change - Minimum  Climate Change - Minimum
30  Climate Change - Minimum  Climate Change - Minimum

In [472]:
#As shown that each cell is related with the previous cell
#So, we can use ffill
handle_missing(Corp_Disclosing_climateChange,['minimum_tier'],"ffill",0)

#### Column 'minimum_tier' {DONE}

In [474]:
#Handling ['primary_ticker','tickers'] columns
cols_related = ['primary_ticker','tickers']
Corp_Disclosing_climateChange[(Corp_Disclosing_climateChange['tickers'].notna())\
                             & (Corp_Disclosing_climateChange['primary_ticker'].notna())\
                             ].loc[0:10,cols_related]

  primary_ticker  tickers
0         GEI CN   GEI CN
1         OSB CN   OSB CN

In [475]:
#As shown from above, that there is two unique values for those two columns
#which make it harder to predict the missing cells,so the best solution is
#to fill missing with constant
handle_missing(Corp_Disclosing_climateChange,cols_related,"","Missing")

In [476]:
missing_ratio(Corp_Disclosing_climateChange)

   Feature  Num_0f_missing  Percent_of_msising
6  samples             985            0.381044

In [482]:
Corp_Disclosing_climateChange[Corp_Disclosing_climateChange['samples'].notna()].head(30)

,account_number,organization,survey_year,country,invitation_status,public,samples,response_received_date,minimum_tier,selected_tier,...,authority_types,activities,sectors,industries,primary_activity,primary_sector,primary_industry,primary_questionnaire_sector,primary_ticker,tickers
0,44675,Gibson Energy Inc,2020,Canada,Submitted,public,"Canada, CCGR1800",2020-08-25T23:01:29Z,Climate Change - Minimum,Climate Change - Full,...,Investor,"Energy services & equipment, Oil & gas market...","Industrial support services, Oil & gas proces...","Fossil Fuels, Services",Oil & gas pipelines & storage,Oil & gas storage & transportation,Fossil Fuels,Oil & gas,GEI CN,GEI CN
1,13422,Norbord Inc.,2020,Canada,Submitted,public,"Canada, Environmental",2020-08-26T18:39:22Z,Climate Change - Minimum,Climate Change - Full,...,Investor,Finished wood products,Wood & rubber products,Manufacturing,Finished wood products,Wood & rubber products,Manufacturing,Paper & forestry,OSB CN,OSB CN
44,2951,CCL Industries,2020,Canada,Submitted,public,"Benchmark, Canada, Continuity Climate Change,...",2020-08-26T22:43:44Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain","Homeware, Metal containers & packaging, Other...","Leisure & home manufacturing, Light manufactu...",Manufacturing,Other containers & packaging,Light manufacturing,Manufacturing,General,CCL/B CN,"CCL/A CN, CCL/B CN"
45,15673,BlackBerry Limited,2020,Canada,Submitted,public,"Benchmark, Canada, Continuity Climate Change,...",2020-08-26T16:34:15Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain","Communications equipment, Software, Telecommu...","Electrical & electronic equipment, IT & softw...","Manufacturing, Services",Software,IT & software development,Services,General,BB CN,BB CN
46,20841,WSP,2020,Canada,Submitted,public,"Benchmark, Canada, Continuity Climate Change,...",2020-08-26T04:43:00Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain",Engineering services,Specialized professional services,Services,Engineering services,Specialized professional services,Services,General,WSP CN,WSP CN
47,11160,Magna International Inc.,2020,Canada,Submitted,public,"Benchmark, Canada, CCGR1800, Continuity Clima...",2020-08-25T15:48:07Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain","Automobiles, Electrical equipment, Engines & ...","Electrical & electronic equipment, Leisure & ...",Manufacturing,Fabricated metal components,Metal products manufacturing,Manufacturing,General,MG CN,MG CN
48,50117,BRP,2020,Canada,Submitted,public,"Canada, Continuity Climate Change, Environmental",2020-09-29T15:44:11Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain",Recreational vehicles,Transportation equipment,Manufacturing,Recreational vehicles,Transportation equipment,Manufacturing,Transport OEMS,DOO CN,DOO CN
49,20896,Yamana Gold Inc.,2020,Canada,Submitted,public,"Benchmark, Canada, CCGR1800, Continuity Clima...",2020-08-25T14:32:42Z,Climate Change - Full,Climate Change - Full,...,Investor,Precious metals & minerals mining,Metallic mineral mining,Materials,Precious metals & minerals mining,Metallic mineral mining,Materials,Metals & mining,YRI CN,YRI CN
50,5624,Enerplus Corporation,2020,Canada,Submitted,public,"Benchmark, Canada, CCGR1800, Continuity Clima...",2020-08-24T21:39:01Z,Climate Change - Full,Climate Change - Full,...,Investor,"Natural gas extraction, Oil & gas extraction",Oil & gas extraction & production,Fossil Fuels,Oil & gas extraction,Oil & gas extraction & production,Fossil Fuels,Oil & gas,ERF CN,ERF CN
51,19328,TransAlta Corporation,2020,Canada,Submitted,public,"Benchmark, Canada, CCGR1800, Continuity Clima...",2020-08-25T16:38:19Z,Climate Change - Full,Climate Change - Full,...,Investor,"CCGT generation, Coal generation, Gas utiliti...","Energy utility networks, Renewable power gene...","Infrastructure, Power generation",Coal generation,Thermal power generation,Power generation,Electric utilities,TA CN,TA CN
52,902,ARC Resources Ltd.,2020,Canada,Submitted,public,"Benchmark, Canada, CCGR1800, Continuity Clima...",2020-08-26T23:42:32Z,Climate Change - Full,Climate Change - Full,...,Investor,"Natural gas extraction, Oil & gas extraction,...","Oil & gas extraction & production, Oil & gas ...",Fossil Fuels,Oil & gas extraction,Oil & gas extraction & production,Fossil Fuels,Oil & gas,ARX CN,ARX CN
53,4058,Crescent Point Energy Corporation,2020,Canada,Submitted,public,"Benchmark, Canada, CCGR1800, Continuity Clima...",2020-08-25T19:44:58Z,Climate Change - Full,Climate Change - Full,...,Investor,"Natural gas extraction, Oil & gas extraction",Oil & gas extraction & production,Fossil Fuels,Oil & gas extraction,Oil & gas extraction & production,Fossil Fuels,Oil & gas,CPG CN,CPG CN
54,5337,Eldorado Gold Corporation,2020,Canada,Submitted,public,"Benchmark, Canada, CCGR1800, Continuity Clima...",2020-08-25T15:11:00Z,Climate Change - Full,Climate Change - Full,...,Investor,Precious metals & minerals mining,Metallic mineral mining,Materials,Precious metals & minerals mining,Metallic mineral mining,Materials,Metals & mining,ELD CN,ELD CN
55,17929,Suncor Energy Inc.,2020,Canada,Submitted,public,"Benchmark, Canada, CCGR1800, Continuity Clima...",2020-08-27T02:26:20Z,Climate Change - Full,Climate Change - Full,...,Investor,"Natural gas extraction, Oil & gas extraction,...","Oil & gas extraction & production, Oil & gas ...",Fossil Fuels,Oil & gas refining,Oil & gas processing,Fossil Fuels,Oil & gas,SU CN,SU CN
56,1536,Barrick Gold Corporation,2020,Canada,Submitted,public,"Benchmark, Canada, CCGR1800, Continuity Clima...",2020-08-26T19:33:15Z,Climate Change - Full,Climate Change - Full,...,Investor,"Other non-ferrous ore mining, Precious metals...",Metallic mineral mining,Materials,Precious metals & minerals mining,Metallic mineral mining,Materials,Metals & mining,ABX CN,ABX CN
57,19304,TC Energy,2020,Canada,Submitted,public,"Benchmark, Canada, CCGR1800, Continuity Clima...",2020-09-30T16:13:59Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain","Non-CCGT generation, Oil & gas pipelines & st...","Oil & gas storage & transportation, Thermal p...","Fossil Fuels, Power generation",Oil & gas pipelines & storage,Oil & gas storage & transportation,Fossil Fuels,Oil & gas,TRP CN,TRP CN
58,6595,Ford Motor Company,2020,United States of America,Submitted,public,"Benchmark, CCGR1800, Continuity Climate Chang...",2020-08-25T23:01:49Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain","Automobiles, Banks","Financial services, Transportation equipment","Manufacturing, Services",Automobiles,Transportation equipment,Manufacturing,Transport OEMS,F US,F US
59,59258,Keysight Technologies Inc,2020,United States of America,Submitted,public,"Benchmark, Continuity Climate Change, Fixed I...",2020-08-26T18:45:10Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain",Electrical equipment,Electrical & electronic equipment,Manufacturing,Electrical equipment,Electrical & electronic equipment,Manufacturing,Capital goods,KEYS US,KEYS US
62,23197,Hormel Foods,2020,United States of America,Submitted,public,"Benchmark, CCGR1800, Continuity Climate Chang...",2020-08-25T21:46:27Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain","Animal processing, Other food processing, Sugar",Food & beverage processing,"Food, beverage & agriculture",Animal processing,Food & beverage processing,"Food, beverage & agriculture","Food, beverage & tobacco",HRL US,HRL US
63,18155,Sysco Corporation,2020,United States of America,Submitted,public,"Benchmark, CCGR1800, Continuity Climate Chang...",2020-08-25T23:06:10Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain",Food & beverage wholesale,"Trading, wholesale, distribution, rental & le...",Retail,Food & beverage wholesale,"Trading, wholesale, distribution, rental & lea...",Retail,"Food, beverage & tobacco",SYY US,SYY US
64,8526,"The Home Depot, Inc.",2020,United States of America,Submitted,public,"Benchmark, CCGR1800, Continuity Climate Chang...",2020-08-26T21:02:31Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain",Specialist retail,Discretionary retail,Retail,Specialist retail,Discretionary retail,Retail,General,HD US,HD US
65,8116,"The Hartford Financial Services Group, Inc.",2020,United States of America,Submitted,public,"Benchmark, CCGR1800, Continuity Climate Chang...",2020-08-25T23:12:10Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain",Insurance,Financial services,Services,Insurance,Financial services,Services,Financial services,HIG US,HIG US
66,11141,"Macy's, Inc.",2020,United States of America,Submitted,public,"Benchmark, CCGR1800, Continuity Climate Chang...",2020-08-26T14:10:37Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain",Department stores,Discretionary retail,Retail,Department stores,Discretionary retail,Retail,General,M US,M US
67,7264,"Genpact International, LLC",2020,United States of America,Submitted,public,Self selected companies climate change,2020-08-25T05:54:57Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain","IT services, Other professional services","IT & software development, Specialized profes...",Services,IT services,IT & software development,Services,General,G US,G US
68,4826,The Dow Chemical Company,2020,United States of America,Submitted,public,"Benchmark, CCGR1800, Continuity Climate Chang...",2020-08-26T20:10:52Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain","Biotechnology, Other base chemicals, Specialt...","Biotech & pharma, Chemicals","Biotech, health care & pharma, Materials",Other base chemicals,Chemicals,Materials,Chemicals,DOW US,DOW US
69,5154,Ecolab Inc.,2020,United States of America,Submitted,public,"Benchmark, CCGR1800, Continuity Climate Chang...",2020-09-10T15:10:01Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain",Commercial services,Commercial & consumer services,Services,Commercial services,Commercial & consumer services,Services,General,ECL US,ECL US
70,19581,"Tyson Foods, Inc.",2020,United States of America,Submitted,public,"Benchmark, CCGR1800, Continuity Climate Chang...",2020-08-26T15:00:38Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain","Animal processing, Other food processing",Food & beverage processing,"Food, beverage & agriculture",Animal processing,Food & beverage processing,"Food, beverage & agriculture","Food, beverage & tobacco",TSN US,TSN US
71,42037,Mondelez International Inc,2020,United States of America,Submitted,public,"Benchmark, CCGR1800, Continuity Climate Chang...",2020-08-27T00:23:38Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain","Chocolate confection, Coffee, Dairy & egg pro...",Food & beverage processing,"Food, beverage & agriculture",Other food processing,Food & beverage processing,"Food, beverage & agriculture","Food, beverage & tobacco",MDLZ US,MDLZ US
72,15027,Linde PLC,2020,United States of America,Submitted,public,"Benchmark, CCGR1800, Continuity Climate Chang...",2020-08-26T15:33:55Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain","Inorganic base chemicals, Specialty chemicals",Chemicals,Materials,Inorganic base chemicals,Chemicals,Materials,Chemicals,PX US,"LIN UN, PX US"
97,1113,AT&T Inc.,2020,United States of America,Submitted,public,"Benchmark, CCGR1800, Continuity Climate Chang...",2020-08-26T19:27:27Z,Climate Change - Full,Climate Change - Full,...,"Investor, Supply Chain","Communications equipment, Marketing, Media, T...","Electrical & electronic equipment, Media, tel...","Manufacturing, Services",Telecommunications services,"Media, telecommunications & data center services",Services,General,T US,T US

In [479]:
Corp_Disclosing_climateChange['samples'].value_counts()[:2].index.tolist()

[' Self selected companies climate change',
 ' Benchmark, CCGR1800, Continuity Climate Change, FTSE All-World, Global 500, MSCI ACWI, S&P 500']

### Calculate the % of Missing in df_corporations

In [ ]:
# state_corporations1 = df_corporations.isna().sum().rename('Num_0f_missing')

# # Rename the index to Feature
# state_corporations1 = state_corporations1.reset_index().rename(columns={'index':'Feature'})

# Num_of_samples = df_corporations.shape[0]
# state_corporations1['percent_of_msising'] = state_corporations1['Num_0f_missing'] / Num_of_samples

# # Select the features that have a missing values
# state_corporations1 = state_corporations1[state_corporations1['Num_0f_missing'] != 0]
# state_corporations1

### Display a Sample from Features_with_Missing_corporations1

In [ ]:
# Features_with_Missing_corporations1 = state['Feature'].values
# df_cities.loc[:,Features_with_Missing_corporations1]

In [ ]:
# countries = df_cities_response['Country'].unique().tolist()
# Number_of_countries = len(countries)
# print(countries)
# print("\nTotal countries CDP present: ",Number_of_countries)

In [ ]:
# Top 10 countries 
# top_countries = df_cities_response.groupby('Country').size().rename('Num_of_Records')
# top_countries = top_countries.reset_index()
# top_countries.sort_values(ascending = False,by='Num_of_Records').iloc[:10]

### Display a Sample from Features with missing values

In [ ]:
# Features_with_Missing_ct_responce = state_cities['Feature'].values
# df_cities_response.loc[:,Features_with_Missing_cities].iloc[10:20]

In [ ]:
# # Count the number of unique questions
# df_question = df_cities_response.groupby("Question Name").size().sort_values(ascending=False).to_frame()
# df_question = df_question.reset_index(drop=False)
# df_question.columns=["Question","Count"]
# print("No of unique questions asked:{}".format(df_question.shape[0]))
# df_question.head()